<!DOCTYPE html>
<html lang="en">

<head>
    <title>Stock Monitor System | Mia Jia</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/layout.css" type="text/css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="favicon.png" />
    <!-- Responsive -->
    <!--     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
</head>

<body ng-app="StockMonitor">
    <div ng-controller="myController">
        <div id="content">
            <ul>
                <div class="jumbotron">
                    <header id="header" class="clear">
                        <div id="hgroup">
                            <h1>Stock Monitor</a></h1>
                            <p/>
                            <h4>Mia Jia</h4>
                            <p>This project is based on <a href="http://financequotes-api.com/">Yahoo Finance API</a>, Java, Html, Css, D3JS, JQuery and AngularJS.</p>
                            <br/>
                        </div>
                    </header>
                </div>
                <!-- <
header id="header" class="clear">
                    <div id="hgroup">
                        <h1>Stock Monitor</a></h1>
                        <p/>
                        <h4>Mia Jia</h4>
                        <p>This project is based on <a href="http://financequotes-api.com/">Yahoo Finance API</a>, Java, html5, css3, d3.js, jQuery.</p>
                        <br/>
                    </div>
                </header> -->
                <div class="table-dataviz">
                   <!--  <form class="navbar-form navbar-left" method="get" ng-submit="$event.preventDefault()"> -->
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="stockSymbol" placeholder="Type a stock symbol...">
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="addStock(stockSymbol)">Add</button>
                        <div class="alert alert-danger navbar-text navbar-right" ng-show="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                           <span>
                           You have already subscribed to this company</span>
                        </div>
                    </form>
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th data-field="Symbol">Symbol</th>
                                    <th data-field="company_name">Company Name</th>
                                    <th data-field="stock_exchange and currency">Exchange | Currency</th>
                                    <th data-field="price">Price</th>
                                    <th data-field="range">Range</th>
                                    <th data-field="openc">Open/Close</th>
                                    <th data-field="close">Previous Close</th>
                                    <th data-field="volume">Volume</th>
                                    <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="stock in stockArr">
                                    <td>{{stock.symbol}}</td>
                                    <td>{{stock.name}}</td>
                                    <td>{{stock.stockExchange}} | {{stock.currency}}</td>
                                    <td>{{stock.price}}</td>
                                    <td>{{stock.low}}-{{stock.high}}</td>
                                    <td>{{stock.open}}</td>
                                    <td>{{stock.close}}</td>
                                    <td>{{stock.volume}}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default" ng-click="getPeriodCompanyStockInfo('A_Month_'+stock.symbol)">Month</button>
                                            <button type="button" class="btn btn-default" ng-click="getPeriodCompanyStockInfo('A_Year_'+stock.symbol)">Year</button>
                                            <button type="button" class="btn btn-default" ng-click="deleteStock(stock.symbol)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                        </div>
                                        <!-- <div class="list-group">
                                            <button type="button" class="list-group-item" ng-click="getPeriodCompanyStockInfo('A_Year_'+stock.symbol)">Year History</button>
                    
                                            <button type="button" class="list-group-item" ng-click="getPeriodCompanyStockInfo('A_Month_'+stock.symbol)">Month History</button>
                                            <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                                            <button type="button" class="list-group-item" ng-click="deleteStock(stock.symbol)">Delete</button>
                                        </div> -->
                                        <!-- <form>
                                            <button ng-click="getPeriodCompanyStockInfo('A_Year_'+stock.symbol)">Year History</button>
                                        </form>
                                        <form>
                                            <button ng-click="getPeriodCompanyStockInfo('A_Month_'+stock.symbol)">Month History</button>
                                        </form>
                                        <form>
                                            <button ng-click="deleteStock(stock.symbol)">Delete</button>
                                        </form> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2></h2>
                    <div id="StockView" width="500" height="1000"></div>
                    <!-- end: row -->
                </div>
            </ul>
        </div>
        <!-- content -->
</body>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="http://www.d3plus.org/js/d3.js"></script>
<script src="http://www.d3plus.org/js/d3plus.js"></script>
<script src="http://www.d3plus.org/js/topojson.js"></script>

</html>
