<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>SMP</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>AllCompaniesInfo</display-name>
    	<servlet-name>AllCompaniesInfo</servlet-name>
    	<servlet-class>com.logicmonitor.msp.servlet.AllCompaniesInfo</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>GetOneHistoryPrice</display-name>
    	<servlet-name>GetOneHistoryPrice</servlet-name>
    	<servlet-class>com.logicmonitor.msp.servlet.GetOneHistoryPrice</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>YahooRealtimeData</display-name>
    	<servlet-name>YahooRealtimeData</servlet-name>
    	<servlet-class>com.logicmonitor.msp.servlet.YahooRealtimeData</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>getOneInfo</display-name>
    	<servlet-name>getOneInfo</servlet-name>
    	<servlet-class>com.logicmonitor.msp.servlet.getOneInfo</servlet-class>
    </servlet>
    
    <servlet>
    	<description>
    	</description>
    	<display-name>delOneStock</display-name>
    	<servlet-name>delOneStock</servlet-name>
    	<servlet-class>com.logicmonitor.msp.servlet.delOneStock</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>addOneStockToService</display-name>
    	<servlet-name>addOneStockToService</servlet-name>
    	<servlet-class>com.logicmonitor.msp.servlet.addOneStockToService</servlet-class>
    </servlet>
   
    <servlet-mapping>
    	<servlet-name>AllCompaniesInfo</servlet-name>
    	<url-pattern>/AllCompaniesInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetOneHistoryPrice</servlet-name>
    	<url-pattern>/GetOneHistoryPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>YahooRealtimeData</servlet-name>
    	<url-pattern>/YahooRealtimeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>getOneInfo</servlet-name>
    	<url-pattern>/getOneInfo</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
    	<servlet-name>delOneStock</servlet-name>
    	<url-pattern>/delOneStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>addOneStockToService</servlet-name>
    	<url-pattern>/addOneStockToService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
    </web-app>
    